:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}


body {
  background-color: #FCF7EB;  
}

.home-bg-block-1 {
  background-color: #C7BBF4;
  height: 50%;
  width: 80%;
  margin-top: 2%;
  left: 10%;
  opacity: 0.75;
  position: absolute;
  z-index: -2;
}

.home-bg-block-2 {
  background-color: #aee0bf;
  height: 40%;
  width: 80%;
  margin-top: 32%;
  left: 10%;
  opacity: 0.75;
  position: absolute;
}

.home-bg-block-3 {
  background-color: #d8315bc2;
  height: 35%;
  width: 50%;
  left: 25%;
  margin-top: 53%;
  position: absolute;
  opacity: 0.75;
}

.home-bg-block-4 {
  background-color: #aee0bf00;
  height: 30%;
  width: 100%;
  margin-top: 60%;
  position: absolute;
}

.cat-peek {
  display: block;
  position: absolute;
  left: 35%;
  top: 385px;
  z-index: -1;
  transform: scale(1);
}

.home-info {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 60%;
  height: 80%;
  max-width: 1200px;
  max-height: 400px;
  margin:auto;
  justify-content: center;
  z-index: 2;
  float:left;
  left: 25px;
  top: 25px;
  font-family: "montserrat", sans-serif;
  opacity: 0.9;
}

.adoption-steps-container {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  height: 80%;
  justify-content: center;
  position: relative;
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 25px;
}

.adoption-step {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 80%;
  height: 80%;
  max-width: 600px;
  max-height: 400px;
  margin:auto;
  justify-content: center;
  z-index: 2;
  font-family: "montserrat", sans-serif;
  animation: left-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0.9;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: rgb(252, 153, 229);
  color: white;
  font-family: "montserrat", sans-serif;
  text-align: center;
  z-index: 3;
}

.footer-text {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: white;
  font-family: "montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.about-title {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  color:  #C7BBF4;
  font-size: 14.3rem;
  text-align: center;
  width: 40%;
  height: 10%;
  margin:auto;
  padding-top: 10%;
  opacity: 0.75;
}

.aboutus-banner {
  display: block;
  position: absolute;
  left: 20%;
  top: 10%;
  width: 60%;
  max-height: 400px;
  z-index: -1;
  transform: scale(0.75);
  opacity: 0.9;
}

.aboutus-header {
  position: relative;
  border: 1px solid #aabcdd;
  margin-top: 5%;
  max-width: 1000px;
}

.about-info-block {
  background-color: #ffffff;
  height: 50%;
  width: 60%;
  margin-top: 0;
  left: 20%;
  opacity: 0.75;
  position: absolute;
}

.about-info {

}

.paw-prints {
  display: block;
  position: absolute;
  left: 10%;
  top: 15%;
  width:80%;
  height:100%;
  transform: scale(1);
  opacity: 0.35;
  z-index: -3;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.logo-header {
  margin: 0 auto 0 5rem;
  width: 100%;
  text-align: left;
  
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0rem;
  
}

.home-title {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  color:  #6b8fd1;
  font-size: 5.3rem;
  text-align: center;
  margin:auto;
  padding-top: 5%;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  color:  #C7BBF4;
  font-size: 5.3rem;
  text-align: center;
  margin:auto;
  padding-top: 5%;
}

h2 {
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  color:  #aee0bf;
  font-size: 3.3rem;
  text-align: center;
  margin:auto;
  padding-bottom: 10px;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  color:  #C7BBF4;
  font-size: 4.3rem;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 43%;
  margin: auto;
  text-decoration: underline;
}

h4 {
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  color:  #C7BBF4;
  font-size: 3.3rem;
  text-align: center;
  margin:auto;
  padding-bottom: 10px;
}

label {
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  color:  #6b8fd1;
  font-size: 2.3rem;
}

p { 
  font-family: "montserrat", sans-serif;
  color:  #6b8fd1;
  font-size: 2rem;
  text-align: left;
}

.loader-text {
    font-family: "montserrat", sans-serif;
    color:  #6b8fd1;
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 25px;
}

.loader-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding-top: 15%;
  padding-left: 25%;
}

.dog-sprite {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  top: 75px;
  transform: scale(3);
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
  transform: scale(3);
}

.dots {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #6b8fd1;
  color: #6b8fd1;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dots::before, .dots::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dots::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #6b8fd1;
  color: #6b8fd1;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dots::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #6b8fd1;
  color: #6b8fd1;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #6b8fd1;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

#startShow  {
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes heading {
  0%   {left: -1000px;}
  25% { left: 300px}
  50% {left: -300px;}
  100% {left: 25px;}
}

@keyframes left-flyin {
  0%   {left: -500px;}
  100% {left: 0px;}
}

@keyframes right-flyin {
  0%   {right: -500px;}
  100% {right: 0px;}
}

@keyframes top-flyin {
  0%   {top: -500px;}
  100% {top: 0px;}
}

@keyframes bottom-flyin {
  0%   {bottom: -500px;}
  100% {bottom: 0px;}
}

hr {
  border: 1px solid #aabcdd;
  margin-bottom: 20px;
  max-width: 1000px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dedede;
  border-radius: 2px;
}

.btn {
  display: inline-block;
  border: none;
  background: #6b8fd1;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
  margin-right:1rem;
}

.task-btn {
  cursor: pointer;
  background-color: orange;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-family: 'Happy Monkey', cursive;
  font-size: 2rem;
  font-weight: 500;
  margin: 20px auto;
  padding: 10px;
  width: 30%;
  border-radius: 15px;
  text-align: center;
}


.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.task-table {
  width: 100%;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 8px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn:focus,  .done-btn:focus, 
.delete-btn:focus {
  outline: 0;
}

.list li:hover .delete-btn{
  opacity: 1;
}

.list li:hover .done-btn {
  opacity: 1;
}
.list li.done {
  border-right: 8px solid #2ecc71;
}

.list li.notdone {
  border-right: 8px solid #c0392b;
}


.done-btn {
  cursor: pointer;
  background-color: rgb(23, 36, 3);
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  right: -70px;
  transform: translate(-100%, -50%);
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

/* React animated logo */ 

  .react-container{
  
    margin:3rem 10rem 2rem 2rem;
    background: #aebbc0;
    text-align: left;
    
  
  }

  .react-logo{
    display: inline-block;
    border-radius:50%;
    border:3px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  .react-logo , .react-logo:before , .react-logo:after{
    position:absolute;
    display: inline-block;
    width:75px;
    height:30px;
    border-radius:50%;
    border:3px solid #00d8ff;
  }

  .nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nucleo{
    width:20px;
    height:20px;
    border-radius:50%;
    background:#00d8ff;
  }

  .react-logo:before , .react-logo:after{
    content:"";
  }

  .react-logo:after{
    transform:rotate(-57deg);
  }

  .react-logo:before{
    transform:rotate(57deg);
  }
  
  .title{
    font-family: 'Arial', sans-serif;
    color: #6b8fd1;
    font-size: 2rem;
    text-align: center;
    justify-self: center;
    margin-bottom: 5rem;
    font-size: 2rem;
  }

  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }

  .heading {
    display: flex;
    align-items: flex-start;
    margin: 1rem 2rem 0 1rem;
  }

  
nav {
  display: flex;
  padding: 0.5rem;
  margin-bottom:0.2rem;
  align-items: center;
  
}
nav a {
  padding: 0.5rem;
  padding: 5px 16px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #6b8fd1d5;
  font-weight: 600;
  font-size: 2rem;
}

nav a:hover {
  background-color: #aabcdd;
  color: rgb(255, 255, 255);
}

nav a.active {
  background-color: #aabcdd;
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* .menuitem a:hover, .dropdown:hover .dropbtn {
  color: rgb(163, 179, 179);
} */
.menuitem {
  position: absolute;
  left: 12rem;
  top:  3rem;
  z-index: 10;
}

.home {
  margin: 2rem;
  padding: 2rem;
  background-image: url(./images/connection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  
  margin-top: 0px;
  
}
.home-img {
  width: 80%;
  margin: 3rem;
}

.home h1 {
  text-align: left;
  margin: 3rem;
}

#options {
  display: flex;
  position: absolute;
  float: left;
  margin-left: 12%;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#breed-filter {
  position: relative;
  max-height: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

#change-number {
  position: relative;
  max-height: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

.showlist {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: -1;
}

.pet-container {
  position: relative;
  margin:auto;
  margin-top: 10%;
  margin-bottom: 5%;
  justify-content: center;;
  z-index: 2;
  animation: bottom-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.pet-listing {
  display: block;
  position: relative;
  background-color: white;
  box-shadow: 10px 8px 8px 10px rgba(51, 51, 51, 0.301);
  width: 60%;
  height: 225px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: "montserrat", sans-serif;
  color:#6b8fd1;
  font-size: 24px;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .5em;
}

.pet-listing hr {
  border: 1px solid #aabcdd;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left : 25%;
}

.pet-name {
  font-family: "montserrat", sans-serif;
  font-weight: normal;
  color:  #C7BBF4;
  font-size: 3.3rem;
  text-align:left;
  margin-left: 25%;
  margin-bottom:auto;
  padding-left: 25px;
  padding-top: 25px;
}

.pet-listing-image {
  display: block;
  padding: 10px;
  float: left;
  width: 30%;
  max-width: 250px;
  max-height: 200px;
  margin-top: 10px;
}

.pet-listing-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  position: relative;
  width: 500px;
  height: 50px;
  margin-top: auto;
  margin-left: 25%;
  margin-right: auto;
  text-align: center;
}

.adopt-button {
  padding: 1em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #46e0ad;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 20%;
  max-width: 300px;
  display: flex;
  float:right;
  justify-content: center;
  position: relative;
  margin-right: 50px;
  outline: none;
  cursor: pointer;
}

.flip-card {
  position: relative;
  background-color: transparent;
  width: 30%;
  height: 30%;
  min-width: 400px;
  min-height: 250px;
  object-fit: cover;
  margin: 0.5rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  animation: left-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  display: block;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.card-back p {
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20%;
}

.image {
  width:  30%;
  height: 30%;
  min-width: 400px;
  min-height: 250px;
  object-fit: cover;
  margin: 0.5rem;
} 

.pagination{
  display: flex;
  position: relative;
  margin: auto;
  top: 150px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.page-item > a {
  text-align: center;
  color: #C7BBF4;
  background-color: #ffffff;
  float: left;
  padding: 8px 20px;
  line-height: 1.5;
  border: 1px solid #ddd;
  margin-left: 5px;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  border: 0.3px solid;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}

.page-item > a:hover {
  color: #fff;
  background-color: #C7BBF4;
  border-color: #C7BBF4;
}
/* Login and signup form css */
.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
  font-size: 16px !important;
}

.Toastify__toast--error {
  border: 1px solid #EB5757 !important;
  border-radius: 50px !important;
  background: #FAE1E2 !important;
  font-size: 16px !important;
}

.login-button {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #aabcdd;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  position: relative;
  outline: none;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
}

.profile-button {
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(38, 126, 226, 0.25);
  border: 1px solid rgba(38, 151, 226, 0.25);
  border-radius: .25em;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
}

.signup-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #C7BBF4;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 30%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  float: right;
  margin-right: 10%;
  outline: none;
  cursor: pointer;
}

.login-container {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 80%;
  height: 40%;
  max-width: 600px;
  max-height: 400px;
  margin:auto;
  margin-top: 10%;
  justify-content: center;;
  z-index: 2;
  font-family: "montserrat", sans-serif;
  animation: top-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0.85;
}

.signup-container {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 80%;
  height: 60%;
  max-width: 600px;
  max-height: 800px;
  margin:auto;
  margin-top: 5%;
  justify-content: center;;
  z-index: 2;
  font-family: "montserrat", sans-serif;
  animation: top-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0.85;
}

.login-title {
  text-align: center;
  color: #6b8fd1;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
}

.signup-title {
  text-align: center;
  color: #6b8fd1;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
}

.login-signup-link {
  text-align: center;
  color: #6b8fd1;
  font-size: 2rem;
  font-weight: lighter;
  position: absolute;
  bottom: 10%;
  right: 15%;
}

.login-form {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  margin: auto;
  margin-top: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  margin: auto;
  margin-top: 40px;
}

.input-group label{
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 7px
}

.input-group input {
  font-size: 1.25rem;
  padding: .5em;
  background-color: rgba(77, 77, 77, 0.753);
  border: none;
  outline: none;
  border-radius: .25em;
  color: white;
  font-weight: lighter;
  position: relative;
}

.input-group input:focus {
  box-shadow: 0 0 0 1px rgba(49, 216, 228, 0.952);
}

.checkbox {
  position: relative;
  bottom: 23px;
  right: 100px;
  float: right;
}

.submit-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #C7BBF4;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 30%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10%;
  float: left;
  outline: none;
  cursor: pointer;
}

.signup-submit-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #C7BBF4;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 50%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.profile-container {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 80%;
  height: 40%;
  max-width: 600px;
  max-height: 400px;
  margin:auto;
  margin-top: 2%;
  justify-content: center;;
  z-index: 2;
  font-family: "montserrat", sans-serif;
  animation: left-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0.75;
}

.contact-page-info {
  display: block;
  margin: auto;
  color: #91ade0;
  font-size: 16px;
  font-family: "montserrat", sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 50%;
  height: 40%;
}

.contact-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-flex-container > div {
  width: 300px;
  margin: 10px;
  color: #91ade0;
  font-family: "montserrat", sans-serif;
  text-align: center;
}

.contact-bg-block-1 {
  background-color: #C7BBF4;
  height: 75%;
  width: 100%;
  margin-top: 5%;
  position: absolute;
  z-index: -2;
}

.cat-wave {
  display: block;
  position: absolute;
  bottom: -175px;
  left: 0;
  z-index: -1;
  transform: scale(0.5);
  opacity: 0.75;
}

.wrapper{height:50%;display:flex;justify-content:center;align-items:center;background-color:#eee}.checkmark__circle{stroke-dasharray: 166;stroke-dashoffset: 166;stroke-width: 2;stroke-miterlimit: 10;stroke: #7ac142;fill: none;animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards}.checkmark{width: 56px;height: 56px;border-radius: 50%;display: block;stroke-width: 2;stroke: #fff;stroke-miterlimit: 10;margin: 10% auto;box-shadow: inset 0px 0px 0px #7ac142;animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both}.checkmark__check{transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards}@keyframes stroke{100%{stroke-dashoffset: 0}}@keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}@keyframes fill{100%{box-shadow: inset 0px 0px 0px 30px #7ac142}}

/* Google Map css */
.map {
  padding: 20px;
  margin-top: 5%;
}
.map-h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-left: -50%;
}

.enquiry-submit-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #46e0ad;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 50%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.enquiry-container {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 40%;
  height: 40%;
  margin-top: 10%;
  justify-content: center;
  z-index: 2;
  float: right;
  margin: auto;
  margin-right: 5%;
  top: -40px;
  font-family: "montserrat", sans-serif;
  animation: right-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.enquiry-form {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  margin: auto;
  margin-top: 40px;
}

.enquiry-title {
  text-align: center;
  color: #6b8fd1;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
}

.adoption-submit-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #46e0ad;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 50%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.adoption-container {
  position: relative;
  background-color:#ffffff;
  border: 1px;
  border-radius: 1rem;
  padding: 2rem;
  width: 40%;
  height: 50%;
  justify-content: center;
  z-index: 2;
  margin: auto;
  margin-top: 5%;
  font-family: "montserrat", sans-serif;
  animation: right-flyin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  opacity: 0.85;
}

.adoption-form {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  margin: auto;
  margin-top: 40px;
}

.adoption-title {
  text-align: center;
  color: #6b8fd1;
  font-size: 3rem;
  font-weight: normal;
  position: relative;
}

.cancel-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #e20f0f;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 50%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.return-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: #e20f0f;
  border: 1px solid rgba(38, 151, 226, 0);
  border-radius: .25em;
  width: 50%;
  max-width: 300px;
  display: block;
  justify-content: center;
  position: absolute;
  left: 30%;
  bottom: 10%;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.google-map {
  width: 50%;
  height: 60vh;
  position: relative;
  float: left;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 18px;
}

.pin-text {
  font-size: 1.8rem;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 60vh;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 5vw;
  }
}

.submit-button:hover, .submit-button:focus {
  background-color: #cca4ec;
}

.signup-button:hover, .signup-button:focus {
  background-color: #cca4ec;
}

.signup-submit-button:hover, .signup-submit-button:focus {
  background-color: #cca4ec;
}

.enquiry-submit-button:hover, .enquiry-submit-button:focus {
  background-color: #9aecd1;
}

.adopt-button:hover, .adopt-button:focus {
  background-color: #9aecd1;
}

.adoption-submit-button:hover, .adoption-submit-button:focus {
  background-color: #9aecd1;
}

.cancel-button:hover, .cancel-button:focus {
  background-color: #770b23;
}

.return-button:hover, .return-button:focus {
  background-color: #770b23;
}

@media (max-width: 992px) {
  .showlist {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .showlist {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

.image {
  width:  300px;
  height: 300px;
  object-fit: cover;
  margin: 0.3rem;
} 

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 0.5rem;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
  margin-right:0.5rem;
  margin-bottom:1rem;
}

.btn-refresh {
  opacity: 1;
}

#navbar {
  position: absolute;
  right: 1px;
  top: -20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}

}